@model List<Sections>

@section Scripts {
    <partial name="_TempDataPartial.cshtml">
}

<div class="row mb-3">
    <div class="col-9">
        <h1 style="font-size: 2.5em; font-weight: bold;">السكاشن</h1>
    </div>
    <div class="col-3">
            <a asp-action="Create" asp-controller="Sections" asp-area="Customer" class="btn" style="background-color:#2b6cac; color: #fff;">اضافة سكاشن جديدة</a>
    </div>
</div>


<div class="row">
    <form asp-action="Index">
        <div class="row mb-3">
            <div class="col-md-3">
                <input type="text" placeholder="البحث بواسطة الاسم" class="form-control" name="search">
            </div>
            <div class="col-md-3">
                    <button type="submit" class="btn" style="background-color:#2b6cac; color: #fff;">بحث</button>
            </div>
        </div>
    </form>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-warning">@ViewBag.ErrorMessage</div>
    }


    <table class="table table-hover table-striped table-primary">
        <thead>
            <tr>
                <th style="width: 15%;" scope="col">اسم السكشن</th>
                <th style="width: 15%;" scope="col">رقم المادة</th>
                <th style="width: 10%;" scope="col">المادة</th>
                <th style="width: 10%;" scope="col">الوثيقة</th>
                <th style="width: 15%;" scope="col">الاجراءات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>@item.Name</td>
                    <td>@item.CourseId</td>
                    <td>@item.Course.Name</td>
                    <td><a href="~/SectionDocument/@item.SecURL" target="_blank">الوثيقة</a></td>
                    <td>
                            <a asp-action="Delete" class="btn" asp-route-id="@item.SectionsId" style="background-color:#2b6cac; color: #fff;">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButtons = document.querySelectorAll('.btn-delete');
        var deleteForm = document.getElementById('deleteForm');
        var courseIdInput = document.getElementById('deleteCoursetId');

        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var courseId = this.getAttribute('data-id');
                courseIdInput.value = courseId;
                deleteForm.action = '/Admin/Course/Delete';
            });
        });
    });
</script>

@*  pagination *@


@{
    var count = Model.Count;
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Course", new { page = ViewBag.CurrentPage - 1 })">السابق</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link border-0" style="background-color:#2b6cac; color: #fff;" href="@Url.Action("Index", "Course", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action("Index", "Course", new { page = ViewBag.CurrentPage + 1 })">التالي</a>
        </li>
    </ul>
</nav>
